-# トップページのフッター（グローバルナビ部分）
-# 他ファイルと判別を付けるために頭文字kを付けている。後で消す必要あり。

.kfooter
  .kfooter__grobalnavi
    .kfooter__grobalnavi__1
      %p メルカリについて
      %ul
        %li 会社概要
        %li 採用情報
        %li プレスリリース
        %li 公式ブログ
        %li ガイドライン
    .kfooter__grobalnavi__2
      %p メルカリについて
      %ul
        %li 会社概要
        %li 採用情報
        %li プレスリリース
        %li 公式ブログ
        %li ガイドライン
    .kfooter__grobalnavi__3
      %p メルカリについて
      %ul
        %li 会社概要
        %li 採用情報
        %li プレスリリース
        %li 公式ブログ
        %li ガイドライン
    .kfooter__grobalnavi__4
      %p メルカリについて
      %ul
        %li 会社概要
        %li 採用情報
        %li プレスリリース
        %li 公式ブログ
        %li ガイドライン
    .kfooter__grobalnavi__5
      %p メルカリについて
      %ul
        %li 会社概要
        %li 採用情報
        %li プレスリリース
        %li 公式ブログ
        %li ガイドライン