#order-create
  .top-contents
    .upper-text
      = fa_icon 'clock'
      発送をお待ちください
    .lower-text
      出品者からの発送通知をお待ちください
  .middle-contents
    .middle-upper
      購入が完了しました
    .middle-lower
      .item-image
        = image_tag @item.item_images[0].image.url, height: '200px'
      .item-name
        = @item.name
  .bottom-contents
    %span
      ¥
      = @item.price.to_s(:delimited)
    送料込み