.item-box__contents
  - @items.each do |item|
    .item-box__contents__image
      = image_tag item.item_images[0].image
      .item-box__contents__image__price
        ¥
        = item.price
      .item-box__contents__image__name
        = item.name