-# 商品購入確認ページ

.header
  購入内容の確認
.item
  .item__image
    写真64×85
  .item__name
    パンツザ・ノースフェイス アクセルライトパンツ メンズ
  .item__price
    ¥
    10,000
    送料込み
.point-button
  ポイントはありません
.price_details
  .price_details__price
    支払金額
    ¥
    10,000
  .price_details__price
.purchaseobutton
    購入する