@mixin btn(){
  display:block;
  border-radius: 5px;
  line-height: 48px;
  width: 341px;
  //margin-top: 16px;
  margin: 16px auto;
  text-decoration: none;
  color: white;
  .icon{
    //background-color: white;
    float: left;
    position: relative;
    left: 16px;
    top: 16px;
    width: 20px;
  }
}
@mixin form-box(){
  padding: 32px 60px;
}
@mixin main-contents{
  background-color: white;
  margin: 0 auto;
}
@mixin textbox{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 5%;
  text-align: left;
}
@mixin user-input(){
  line-height: 50px;
  text-decoration: none;
  color: white;
  .icon{
    float: left;
    position: relative;
    left: 16px;
    top: 16px;
    width: 20px;
  }
}