@import "mixin";

@mixin required{
  background-color: #ea352d;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  padding: 3px;
}
@mixin info-box{
  text-align: left;
  margin: 32px auto;
  &__label{
    font-size: 14px;
    font-weight: bold;
  }
  &__required{
    @include required;
  }
  &__text{
    @include user-input();
    @include textbox;
    &--password{
      margin-top: 20px;
    }
  }
}
@mixin name-box{
  text-align: left;
  margin: 32px auto;
  &__label{
    font-size: 14px;
    font-weight: bold;
  }
  &__required{
    @include required;
  }
  &__text{
    @include user-input();
    @include textbox;
  }
}

#main-contents-user-info{
  @include main-contents;
  height: 1800px;
  width: 700px;
  .main-top{
    line-height: 97px;
    border-bottom: #f5f5f5 1px solid;
    font-weight: bold;
    font-size: 22px;
  }
  .main-bottom{
    width: 65%;
    margin: 0 auto;
    .form{
      .nickname{
        @include info-box();
        margin-top: 0;
      }
      .mail-adress{
        @include info-box();
      }
      .password{
        @include info-box();
      }
      .password-confirmation{
        @include info-box();
      }
      @include form-box();
      height: 410px;
      .user-name{
        @include name-box;
      }
      .user-name-kana{
        @include name-box;
      }
      &__captcha{
        height: 75px;
        width: 300px;
        margin: 20px 0;
        border: 1px solid black;
      }
      &__btn-login{
        @include user-input();
        background-color: #ea352d;
        width: 100%;
      }
      &__forget-password{
        float: left;
        text-decoration: none;
        font-size: 14px;
        color: #0099e8;
        margin-top: 30px;
      }
    }
  }
}
