@import "mixin";

#main-contents-address{
  @include main-contents;
  height: 1150px;
  width: 700px;
  .main-top{
    line-height: 97px;
    border-bottom: #f5f5f5 1px solid;
    font-weight: bold;
    font-size: 22px;
  }
  .main-bottom{
    width: 65%;
    margin: 0 auto;
    .form{
      width: 100%;
      .user-name{
        text-align: left;
        margin: 32px auto;
        &__label{
          font-size: 14px;
          font-weight: bold;
        }
        &__required{
          @include required;
        }
        .box{
          width: 100%;
          &__text{
            @include user-input();
            @include textbox;
            width: 49%;
            color: black;
          }
        }
      }
      .address-form{
        @include info-box;
        &__notation{
          @include notation;
        }
        @include field_with_errors;
      }
      .prefecture{
        color: #333333;
        text-align: left;
        &__label{
          font-size: 14px;
          font-weight: bold;
        }
        &__required{
          @include required;
        }
        &__notation{
          @include notation;
        }
        select{
          @include textbox;
          line-height: 50px;
          background-color: white;
          width: 100%;
          cursor: pointer;
        }
        @include field_with_errors;
      }
      .arbitral-form{
        text-align: left;
        margin: 32px auto;
        &__label{
          font-size: 14px;
          font-weight: bold;
        }
        &__arbitral{
          background-color: #cbcbcb;
          border-radius: 2px;
          color: white;
          font-size: 12px;
          padding: 2px 3px;
        }
        &__text{
          @include user-input();
          @include textbox;
          width: 100%;
          color: black;
          &--password{
            margin-top: 20px;
          }
        }
      }
      &__btn{
        @include red-btn;
      }
    }
  }
}