body{
  background-color: #F5F5F5;
  height: 100%;
  .sell-page-container{
    width: 600px;
    height: 100%;
    margin: auto;
    padding-bottom: 40px;
    background-color: white;
    &__header{
      font-size: 22px;
      height: 100px;
      text-align: center;
      border-bottom: 1px solid #EEEEEE;
      h1{
        line-height: 100px;
        font-weight: bold;
      }
    }
    .left{
      display: flex;
      height: 18px;
      span{
      color: #0399E8;
      margin-left: 4px;
      }
    }
    .inner-box{
      padding-top: 40px;
      width: 90%;
      margin: 0 auto;
      .title{
        display: flex;
        height: 16px;
      }

      .item_select-box{
        height: 48px;
        width: 100%;
        padding: 8px 0;
        margin-top: 8px;
        background-color: white;
      }
      .item-box{
        height: 48px;
        line-height: 15px;
        width: 100%;
        padding: 16px;
        margin-top: 8px;
        text-align: left;
        border-radius: 5px;
        border: 0.5px solid #cccccc;
      }
      
      .select-box{
        height: 48px;
        width: 100%;
        padding: 8px 0;
        margin-top: 8px;
      }
      .right-title{
        margin-top: 40px;
      }
      .right-top-title{
        margin: 0;
      }
      .title-item_detail{
        display: flex;
        height: 16px;
        margin-top: 40px;
      }
      h3{
        font-size: 16px;
        padding-right: 10px;
        line-height: 16px;
        font-weight: bold;
      }
      h4{
        font-size: 12px;
        margin: 0 0 0 8px;
        background-color: #EA352D;
        color: white;
        padding: 2px 4px;
        border-radius: 2px;
        line-height: 12px;
      }
      h6{
        font-size: 14px;
        line-height: 21px;
        padding-top: 8px;
      }
      .item-price_field{
        text-align: right;
        padding: 10px 16px 8px 16px;
        margin-left: 16px;
        height: 48px;
        width: 160px;
        border-radius: 5px;
        border-radius: 5px;
        border: 0.5px solid #cccccc;
      }
      .file-field{
        margin-top: 20px;
        background-color: #F5F5F5;
        width: 100%;
        height: 150px;
        border: 1px dashed gray;
      }
    }
    p{
      font-size: 12px;
    }
    #a{
      width: 100%;
      height: 50px;
    }
    .flex{
      display: flex;
      justify-content: space-between;
      .left{
        width: 40%;
      }
      .right{
        width: 60%;
      }
    }
    .flex-start{
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .border-bottom{
    padding-bottom: 40px;
    border-bottom: 1px solid #EEEEEE;
  }
  h5{
    font-size: 12px;
  }
  .inner-box.flex{
    .right-upper{
      height: 72px;
      padding-bottom: 24px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #CCCCCC;
      h3{
        line-height: 48px;
      }
      h4{
        height: 16px;
      }
      p{
        padding: 0;
        line-height: 48px;
      }
    }
    .right-center{
      height: 62px;
      padding: 24px 0;
      border-bottom: 1px solid #CCCCCC;
      line-height: 14px;
    }
    .right-lower{
      height: 34px;
      padding: 24px 0;
      &__right{
        h1{
          font-size: 25px;
          font-weight: bold;
        }
      }
    }
  }
  .sell_button{
    height: 50px!important;
    line-height: 50px;
    margin-top: 40px;
    width: 100%;  
    background-color: #EA352D;
    color: white;
  }
  .sell-return{
    height: 50px!important;
    line-height: 50px;
    display: block;
    text-align: center;
    margin: 24px auto 0;
    width: 60%;
    background-color: gray;
    color: white;
    }
  }
  #item_item_images_attributes_0_image{
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .g_footer{
    height: 250px;
    padding: 40px;
    .links{
      line-height: 24px;
      li{
        display: inline-block;
        margin-right: 10px;
      }
      &__link-bottom{
        text-decoration: none;
        font-size: 12px;
        color: #333333;
      }
    }
    img{
      width: 80px;
      margin-top: 50px;
    }
  }
