.header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  height: 100px;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size:14px;
  .topmenu {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 0px 0px;
    margin: 0px 210px;
    .img {
      height: 36px;
      width: 134px;
      margin-right: 45px;
    }
    .form-contol.seach-input {
      background-color: rgb(245, 245, 245);
      font-size: 16px;
      height: 40px;
      line-height: 1.4em;
      position: relative;
      width: 840px;
      -webkit-appearance: none;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(204, 204, 204);
      border-image: initial;
      border-radius: 4px;
      outline: none;
      padding: 0px 50px 0px 10px;
      transition: all 0.3s ease-out 0s;
      }
  .use_icon {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
  }
  .navmenu {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 0px 0px;
    margin: 0px 210px;
      &__leftside-bar {
        float:left;
      }
      &__rightside-bar {
        float:right;
      }
  }
}

.slideshow{
  width:100%;

}