= render 'shared/header'
= render 'shared/new_item_button'


.wrap
  .box
    .main
      = render 'shared/side_bar'
    .container
      %h2.container__head
        プロフィール
      .container__user
        .container__user__icon
        = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png"
        %input.container__user__name-form{type: "text", placeholder: "例）AYA✩セール中"}
          -# = @user.nickname
      .container__content
        %textarea.container__content__text{placeholder: "例）こんにちは✩ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアルを中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
          -# = @item.description
        %button.container__content__input{type: "submit", class: "btn-default btn-red"}
          変更する